.quadrado {
background: #fff;
border: 1px solid #999;
font-size: 100px;
color: red;
float: left;
font-weight: bold;
line-height: 34px;
height: 170px;
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: 170px;
 
}

.btnResetar{
  margin-bottom: 30px;
  width: 150px;
  font-size: 30px;
}

.board-row:after {
clear: both;
content: "";
display: block;
}

.game {
display: flex;
flex-direction: row;
}
.game-info {
margin-left: 20px;
}